CMWHackathon.sln
.idea/.idea.CMWHackathon/riderModule.iml
.idea/.idea.CMWHackathon/.idea/contentModel.xml
.idea/.idea.CMWHackathon/.idea/indexLayout.xml
.idea/.idea.CMWHackathon/.idea/modules.xml
.idea/.idea.CMWHackathon/.idea/vcs.xml
.idea/.idea.CMWHackathon/.idea/workspace.xml
./node_modules/*
